[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gradio = "==3.22.1"
rich = "*"
pexpect = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
