[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gradio = "==3.22.1"
rich = "*"
pexpect = "*"
psutil = "*"
fastapi = "*"
uvicorn = "*"
flask = "*"
flask-cors = "*"
flask-socketio = "*"
colorama = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.0"
